html, body {
    height: auto;
	width:100%;
    position: relative;
}

body {
	font-family: 'Oxygen', sans-serif;
	text-align : center;
	color : #fff;
	background: transparent url("../images/bg4.jpeg") no-repeat fixed 0% 0% / cover;
    background-color: black;
	background-size:100% 100%;
}

h2 {
	font-size: 4em;
	padding-top : 1%;
	color : #fff;
    font-family: 'Raleway', sans-serif;
}

h4 {
	font-size : 2em;
	color : #fff;

}

p {
	font-size : 19px;
	line-height : 33px;
	opacity : 0.699999988079071044921875;
	text-align : justify;
} 


.logo {
	height : 80px;
}

.logo img {
    height: 90%;
	padding : 1%;
}

ul.countdown {
	list-style : none;
	padding : 0;
	display : block;
	text-align : center;
	margin :0;
}

ul.countdown li {
	display : inline-block;
	padding : 10px 24px;
}

ul.countdown li span {
	font-family : 'Roboto Slab', serif;
	font-size : 60px;
	font-weight : 200;
	line-height : 80px;
	color : red;
}

ul.countdown p {
	font-size : 18px;
	float : right;
	padding-top : 30px;
	text-transform : capitalize;
	font-weight : 700;
	color : #fff;
}


