*{
    margin: 0 auto 5px auto;
    padding: 0px;
}

.xixi {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.bx_container{
    width:663px; 
    height:264px; 
    position:relative;
}

.bx_container ul li{
    width:162px; 
    height:364px; 
    line-height:364px; 
    float:left; 
    overflow:hidden; 
    cursor:pointer; 
    background:#FC3;
    text-align:center
}

.bx_container ul li img{
    width:162px; 
    height:364px;
}
.bx_wrap .prev,.bx_wrap .next{
    width:27px; 
    height:51px; 
    outline-style:none;
    outline-width:0;
    position:absolute; 
    top:160px; 
    z-index:111;
}

.bx_wrap a.prev{
    background:#FC6; 
    left:-60px;}

.bx_wrap a.next{
    background:#FC3; 
    right:-60px;
}