body {
  background-color: #000000;
  padding: 0px;
  margin: 0px; }

#gradient {
  width: 100%;
  height: 800px;
  padding: 0px;
  margin: 0px; }

#github {
  color: #fff;
  text-decoration: none; }

#github:hover {
  color: pink;
  text-decoration: none; }

#main-header img {
  width: 100%;
  height: 100%; }

#main-header .port-item {
  width: 33.3%; }
  #main-header .port-item .fa {
    font-size: 2em; }

#main-header .port-item:hover {
  opacity: 0.8;
  cursor: pointer; }

@media (min-width: 1199px) {
  .port-item {
    padding: 3em !important; } }

.bg-black {
  background-image: -webkit-linear-gradient(left, #434343 0%, black 100%);
  background-image: -o-linear-gradient(left, #434343 0%, black 100%);
  background-image: linear-gradient(to right, #434343 0%, black 100%);
  color: #fff; }

.bg-purple {
  background-image: -webkit-linear-gradient(top left, #667eea 0%, #764ba2 100%);
  background-image: -o-linear-gradient(top left, #667eea 0%, #764ba2 100%);
  background-image: linear-gradient(to bottom right, #667eea 0%, #764ba2 100%);
  color: #fff; }

.bg-pink {
  background-image: -webkit-linear-gradient(bottom, #c471f5 0%, #fa71cd 100%);
  background-image: -o-linear-gradient(bottom, #c471f5 0%, #fa71cd 100%);
  background-image: linear-gradient(to top, #c471f5 0%, #fa71cd 100%);
  color: #fff; }

.bg-green {
  background-image: -webkit-linear-gradient(bottom, #0ba360 0%, #3cba92 100%);
  background-image: -o-linear-gradient(bottom, #0ba360 0%, #3cba92 100%);
  background-image: linear-gradient(to top, #0ba360 0%, #3cba92 100%);
  color: #fff; }

.bg-blue {
  background-image: -webkit-linear-gradient(bottom, #00c6fb 0%, #005bea 100%);
  background-image: -o-linear-gradient(bottom, #00c6fb 0%, #005bea 100%);
  background-image: linear-gradient(to top, #00c6fb 0%, #005bea 100%);
  color: #fff; }

.bg-red {
  background-image: -webkit-linear-gradient(bottom, #ff0844 0%, #ffb199 100%);
  background-image: -o-linear-gradient(bottom, #ff0844 0%, #ffb199 100%);
  background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
  color: #fff; }
